body {
    margin: 0;
    padding: 0;
}

.slide>img {
    width: 308px;
    height: 295px;
    flex-shrink: 0;
}

.slide #img2 {
    width: 308px;
    height: 293px;
    flex-shrink: 0;
}

.slide #img3 {
    /* background: url(/images/image\ 5.png), lightgray -40.874px -55.163px / 126.542% 118.699% no-repeat; */
    width: 302px;
    height: 296px;
    flex-shrink: 0;
}

.slide h4 {
    color: #008A4C;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}